<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css"
    />
    <title>Music App | {{title}}</title>
  </head>
  <body>
    {%block header%} {%endblock%}
    <nav>
      <a href="/">Home</a>
      <a href="/albums">Albums</a>
      <a href="/favorites">Favorites</a>
    </nav>
    {%block content%} {%endblock%}
  </body>
</html>
